<mbsc-form>
    <div class="mbsc-grid">
        <div class="mbsc-row">
            <div class="mbsc-col-sm-12 mbsc-col-md-4">
                <mbsc-form-group>
                    <mbsc-form-group-title>Marked days</mbsc-form-group-title>
                    <mbsc-calendar [(ngModel)]="markedDay" display="inline" [marked]="markedDays"></mbsc-calendar>
                </mbsc-form-group>
            </div>
            <div class="mbsc-col-sm-12 mbsc-col-md-4">
                <mbsc-form-group>
                    <mbsc-form-group-title>Colored days</mbsc-form-group-title>
                    <mbsc-calendar [(ngModel)]="colorDay" display="inline" [colors]="coloredDays"></mbsc-calendar>
                </mbsc-form-group>
            </div>
            <div class="mbsc-col-sm-12 mbsc-col-md-4">
                <mbsc-form-group>
                    <mbsc-form-group-title>Labels</mbsc-form-group-title>
                    <mbsc-calendar [(ngModel)]="labelDay" display="inline" [labels]="labelDays"></mbsc-calendar>
                </mbsc-form-group>
            </div>
        </div>
    </div>
</mbsc-form>