<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007533461814-bebdif90c64l64tt4l6hbml0dvvesb7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007533461814-bebdif90c64l64tt4l6hbml0dvvesb7n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1007533461814-v7nmi75hmh3s6a8s1e39v8frha22q85e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoBgeFlGPRf9kybPkuJPnxCdpSll-xbAo</string>
	<key>GCM_SENDER_ID</key>
	<string>1007533461814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.starter</string>
	<key>PROJECT_ID</key>
	<string>party-finder-7a403</string>
	<key>STORAGE_BUCKET</key>
	<string>party-finder-7a403.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007533461814:ios:455dbef351e1e53278e397</string>
	<key>DATABASE_URL</key>
	<string>https://party-finder-7a403.firebaseio.com</string>
</dict>
</plist>