<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Find A Party
      </ion-title>
    </ion-toolbar>
  </ion-header>


   <ion-content *ngIf="account.email != null">
        <ion-list *ngFor="let party of parties">
          <ion-item>
              <ion-label>{{party.description}} <br> {{helper.getStringDate(this.party.startTime)}} <br> {{party.address}} <br><ion-button (click)="joinParty()">RSVP</ion-button></ion-label>
          </ion-item>
      </ion-list>

  </ion-content>