<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Find A Party
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content *ngIf="account.email != null">
    <h1>Open Parties</h1>
      <ion-list *ngFor="let party of joinableParties">
        <ion-item>
          <ion-label>{{party.description}} <br> {{helper.getStringDate(party.startTime)}} <br> {{party.address}} <br><option (click)="joinParty(party)">RSVP</option></ion-label>
        </ion-item>
      </ion-list>

      <h2>RSVP'D Parties</h2>
  </ion-content>