<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Add A Party
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="account.email != null" fullscreen>
    <ion-list>
      <ion-item>
        <ion-input disabled="true" placeholder="Location" [(ngModel)]="party.address"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Start</ion-label>
          <ion-datetime displayFormat="MMM/D/YYYY HH:mm" pickerFormat="MMM D:HH:mm" placeholder="Start Time" [(ngModel)]="party.startTime"></ion-datetime>
        </ion-item>
      <ion-item><ion-label>End</ion-label>
        <ion-datetime displayFormat="MMM/D/YYYY HH:mm" pickerFormat="MMM D:HH:mm" placeholder="End Time" [(ngModel)]="party.endTime"></ion-datetime>
      </ion-item>
        <ion-item>
        <ion-input placeholder="Party Description" [(ngModel)]="party.description"></ion-input>
      </ion-item>

      <ion-item>    
        <ion-label>Open Party</ion-label>
        <ion-toggle [(ngModel)]="party.openParty"></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-row center>
      <ion-col text-center> 
        <ion-item *ngFor="let att of party.invitees; let idx = index">
          <ion-label color="primary">{{idx+1}}</ion-label>
          <ion-input type="text"  text-right  [(ngModel)]="party.invitees[idx].value"></ion-input>
          <ion-button *ngIf="party.openParty == false" (click)="Remove(idx)">
            <ion-icon size="small" slot="icon-only" name="remove"></ion-icon>
            &nbsp;Remove Invitee
          </ion-button>
        </ion-item>
    
        <ion-button *ngIf="party.openParty == false" (click)="Add()">
          <ion-icon size="small" slot="icon-only" name="person-add"></ion-icon>
          &nbsp;Add Invitee
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row center>
      <ion-col text-center>  
        <ion-button (click)="CreatePartyRecord()">
            <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
            &nbsp;Create Party
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-list *ngFor="let createdParty of createdParties">
      <ion-card>
          <ion-card-header>
              <ion-card-subtitle>{{helper.getStringDate(this.createdParty.startTime)}} to {{helper.getStringDate(this.createdParty.endTime)}}</ion-card-subtitle>
              <ion-card-title>Party at {{createdParty.address}} </ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <p>{{createdParty.description}}</p>
              <ion-list *ngFor="let invitee of createdParty.invitees">
                <p>{{invitee.value}}</p>
              </ion-list>
          </ion-card-content>
          <ion-button (click)="deleteParty(createdParty.partyID)">
            <ion-icon size="small" slot="icon-only" name="remove"></ion-icon>
            &nbsp;Delete Party
          </ion-button>
      </ion-card>
    </ion-list>
  </ion-content>