<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Account Info
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content *ngIf="account.email != null">
    <ion-item-divider>
        <ion-label>
          {{account.name}}
        </ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-item><ion-label>Email:         {{account.email}}</ion-label></ion-item>
        <ion-item>    
          <ion-label>House Owner</ion-label>
          <ion-toggle [(ngModel)]="account.houseOwner"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="account.houseOwner == true"><ion-input placeholder="Address" [(ngModel)]="account.address"></ion-input></ion-item>
        <ion-item><ion-label>Groups:  
            <ion-item-group>
                <ion-list>
                    <ion-item *ngFor= "let group of account.groups; let idx = index">
                      <ion-label>{{group}} </ion-label>
                    </ion-item>
                    
                  </ion-list>            
            </ion-item-group>
            <ion-row right>
                <ion-col text-center>
                  <ion-button [routerLink]="['/group']" (click)= "createGroup()">
                    <ion-icon size="small" name="createGroup" ></ion-icon>
                    &nbsp;Create New Group
                  </ion-button>
                </ion-col>
                <ion-button [routerLink]="['/editgroup']" (click)= "editGroup(group)" >
                  <ion-icon name="leave" ></ion-icon>
                  &nbsp; Edit My Groups
                </ion-button>
              </ion-row>
        </ion-label>
        
    </ion-item>
    
</ion-list>
<ion-row center>  
  <ion-col text-center>   
    <ion-button (click)="UpdateRecord()">
      <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
      &nbsp;Save
    </ion-button>
    <ion-button [routerLink]="['/home']" (click)="signOut()">
      <ion-icon size="small" slot="icon-only" name="log-out"></ion-icon>
      &nbsp;Log Out
    </ion-button>
  </ion-col> 
</ion-row>
</ion-content>