<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Account Info
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content *ngIf="afAuth.auth.currentUser != null">
    <ion-item-divider>
        <ion-label>
          {{account.name}}
        </ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-item><ion-label>Email:         {{account.email}}</ion-label></ion-item>
        <ion-item><ion-label>HouseOwner:    {{account.houseOwner}}</ion-label></ion-item>
        <ion-item><ion-input placeholder="Address" [(ngModel)]="account.address"></ion-input></ion-item>
        <ion-item><ion-label>Groups: 
            <ion-item-group>
                <ion-item>
                    <ion-label>
                        <h3>KDR</h3>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h3>Ultimate Frisbee Club</h3>
                    </ion-label>
                </ion-item>
            </ion-item-group>
        </ion-label>
    </ion-item>
</ion-list>
<ion-button (click)="UpdateRecord()">
  <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
  &nbsp;Save
</ion-button>
<ion-button (click)="signOut()">Sign Out</ion-button>
</ion-content>